.shell {
  border-radius: 2rem !important;
}

form.search-bar {
  border-radius: 1.5rem !important;
}

a.result {
  border-radius: 1.5rem !important;
}

.search-keyboard-shortcuts {
  padding: 0 0.5rem 0.5rem;
}
.search-keyboard-shortcuts kbd {
  border-radius: 1rem !important;
}
