@import "colors.css";
@import "fonts.css";
@import "button.css";
@import "home.css";

/* Custom Blocks */
:root {
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
}

/* Search: Algolia */
.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}
